.twitter {
  width: 100%;
  background-color: #4bcaff;
}
.twitter_work-layer {
  position: relative;
  max-width: 1170px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
  h3{
    font-size: 30px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.8;
  }
  i {
    position: absolute;
    top: 80px;
    right: 10px;
    font-size: 25px;
    color: #ffffff;
  }
  p {
    margin-top: 40px;
    font-size: 28px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    line-height: 1.786;
    font-weight: lighter;
    a {
      font-weight: bold;
    }
  }
}








